# Backend
Backend/bin/
Backend/obj/
Backend/*.db
Backend/*.db-shm
Backend/*.db-wal
Backend/testservice.db

# Frontend
Frontend/node_modules/
Frontend/dist/

# IDE
.vs/
.vscode/
*.user
*.suo
*.sln.docstates

# OS
.DS_Store
Thumbs.db
desktop.ini

# Environment
*.env
*.env.local